<!DOCTYPE html>

<html>
<head>
  <title>Plaid Auth</title>
</head>

<body>
  <button id="link-button">Link Account</button>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script type="text/javascript">
  (function($) {
  var handler = Plaid.create({
    clientName: 'Plaid Walkthrough Demo',
    env: 'sandbox',
    key: '9ef581824905d24a16c3fa522b949d',
    product: ['auth', 'transactions'],
    webhook: 'https://requestb.in', // Optional – use webhooks to get transaction and error updates
    onLoad: function() {
      // Optional, called when Link loads
    },
    onSuccess: function(public_token, metadata) {
      // Send the public_token to your app server.
      // The metadata object contains info about the institution the
      // user selected and the account ID, if the Account Select view
      // is enabled.
      console.log('onSuccess:', public_token, metadata);
      /*
      $.ajax({
        url: '/plaid/get_access_token',
        type: 'post',
        headers: {
          'Content-Type': 'application/json',
        },
        data: JSON.stringify({
          public_token: public_token,
        }),
        dataType: 'json',
        success: function(data) {
          console.log('successfully fetched access token', data);
        },
      });
      */
    },
    onExit: function(err, metadata) {
      // The user exited the Link flow.
      if (err !== null) {
        alert('Error:', err.toString());
        return;
      }
      console.log(metadata);
      alert('Success! Look in logs for metadata');
    },
    onEvent: function(eventName, metadata) {
      console.log('onEvent', eventName, metadata);
      // Optionally capture Link flow events, streamed through
      // this callback as your users connect an Item to Plaid.
      // For example:
      // eventName = "TRANSITION_VIEW"
      // metadata  = {
      //   link_session_id: "123-abc",
      //   mfa_type:        "questions",
      //   timestamp:       "2017-09-14T14:42:19.350Z",
      //   view_name:       "MFA",
      // }
    },
  });

  $('#link-button').on('click', function(e) {
    handler.open();
  });
})(jQuery);
</script>
</body>
</html>
